<script type="text/template">
<div class="homeBodyNav">

</div>
<div class="homeBodyTextBreak" style="margin-top:20px;">
	<h3><%=company.name%> Team Members</h3>
</div>
<div class="teamMembers">
	<div class="memberControlls">
		<a id="deleteUser" class="lightgrey-button-flat" >Delete User <i class="icon-trash" style="margin: -1px 0px 0px 8px;"></i></a>
		<p class="orange-button-flat">
			<span >Sign Up Link:</span>
			<a href="https://app.pathtale.com/signup/<%=company.md5_id%>" target="_blank">app.pathtale.com/signup/<%=company.md5_id%></a>
		</p>
	</div>
	<div class="memberList">
	
	</div>
</div>

</script>
